<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[
	function vol(id,v){
		document.getElementById(id).value = v;
		s = '';
		for (i=1;i<=20;i++){ s = '<div onmouseup="vol(\''+id+'\','+5*i+')" style="background-color:'+(i <= v/5?'#66a6d6':'#cccccc')+
					';height:'+(4+i)+'px;margin-top:'+(25-i)+'px;" class="volumebar2"></div>' + s}
		document.getElementById(id+'.vol').innerHTML = s;
	}
//]]></script>
	<input type="hidden" "<%= attr("name",cbid)..attr("id",cbid)..attr("value",0)%>/>
	<link rel="stylesheet" type="text/css" href="<%=resource%>/mRadio/mRadio.css"/>
	<div class="vol-box2"><div class="mRadio-volume" <%=attr("id",cbid..".vol")%>></div></div>
	<script type="text/javascript">vol('<%=cbid%>',<%=self:cfgvalue(section) or 0%>)</script>
<%+cbi/valuefooter%>
