<%local wDays = {"Sun","Mon","Tue","Wed","Thu","Fri","Sat"}%>
<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[
	function upd_week(id, day)
	{
		var week = document.getElementById(id);
		if (day != null) { week.value = week.value ^ (1<<day) }
		for (var i = 0; i < 7; i++)
		{
			document.getElementById(id+i).style.background = (week.value & (1<<i)?'#AADDFF':'#DDDDDD');
		}
	}
//]]></script>
	<input type="hidden" "<%= attr("name",cbid)..attr("id",cbid)..attr("value",self:cfgvalue(section) or 0)%>/>
	<% for i, day in ipairs(wDays) do %>
		<div style="display:inline; margin:2px; padding-left:3px; border-radius:3px; border:1px solid; text-align:center;" id="<%=cbid..(i-1)%>" onclick="upd_week('<%=cbid%>',<%=i-1%>)">
			<small><%=translate(day)%></small>
		</div>	
	<%end%>
	<div style="display:inline; margin:2px;"></div>
	<script type="text/javascript">upd_week('<%=cbid%>')</script>
<%+cbi/valuefooter%>
