<%#
Copyright 2015 MaiS_ES <mais_es@mail.ru>
Based on flashops.htm by Jo-Philipp Wich <jow@openwrt.org>
Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">

<h2><a><%:Micronucleus Flash Tool%></a></h2>
<fieldset class="cbi-section">
	<legend><%:Firmware%></legend>
	<div class="cbi-value">
		<label class="cbi-value-title"><%:Device%>:</label>
		<div class="cbi-value-field">
			<select name="dev">
				<option value=""></option>
				<%for _,d in ipairs(devs) do%>
					<option <%if d==dev then%> selected <%end%> value="<%=d%>"><%=d%></option>
				<%end%>
			</select>
		</div>
	</div>
	<div class="cbi-value">
		<label class="cbi-value-title"><%:Firmware%>:</label>
		<div class="cbi-value-field">
			<label class="file_upload">
				<span class="cbi-button cbi-button-find" ><%:Upload File%></span>
				<mark style="background: transparent; padding-left: 1em" id="filename"><%:Firmware file not selected ...%></mark>
				<input type="file" name="firmware" id="firmware" accept=".hex" style="position: absolute; top: 0; opacity: 0" 
					onchange='document.getElementById("filename").innerHTML=( files[0] ) ? files[0].name : "<%:Firmware file not selected ...%>"' >
			</label>
		</div>
	</div>
	<div class="cbi-value">
		<label class="cbi-value-title"><%:Action%>:</label>
		<div class="cbi-value-field">
			<input class="cbi-button cbi-button-apply" type="submit" name="flash" value="<%:Flash Device%>" />
			<input class="cbi-button cbi-button-reset" type="submit" name="clear" value="<%:Erase Device%>" />
		</div>
	</div>
</fieldset>

<%if res then%>
<fieldset class="cbi-section">
	<legend><%:Result%></legend>
	<div class="cbi-section-node">
		<div class="cbi-value">
			<div>
				<textarea readonly="readonly" wrap="off" rows=<%=res:cmatch("\n")+1%> style="width:100%"><%=res%></textarea>
			</div>
		</div>
	</div>
</fieldset>
<%end%>

<%if err then%>
<div class="cbi-section-error"><%=luci.i18n.translate(err)%></div>
<%end%>

<%+footer%>
