<%#
  Copyright 2015 MaiS_ES <mais_es@mail.ru>
  Based on commands.htm by Jo-Philipp Wich <jow@openwrt.org>
  Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<%
	local uci = require "luci.model.uci".cursor()
	local ui = uci.get_all("SmartSocket", "UI")
	local data = {}
	local ids = {}
	uci:foreach("SmartSocket", "Targets", function(s)
		data[#data+1] = s
		if ids[s.TargetIP] then
			data[#data].TargetIP = "noIP"
		else
			ids[s.TargetIP] = true
		end
	end)
	data[#data+1] = {Description = translate("APinger process"), TargetIP = "apinger", idSocket = 0}
	while (#data % ui.iCol > 0) do
		data[#data+1] = {Description = "", TargetIP = "", idSocket = ""}
	end
%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[

	var url = '<%=luci.dispatcher.build_url("admin", "services", "SmartSocket")%>';

	XHR.poll(15, url + '/status', null, function(x,json)
	{
		for (var addr in json)
		{
			var bs = document.getElementById(addr).style;
			var s = '<%=ui.iWidth%> solid ' + (json[addr] ? '<%=ui.clOnline%>' : '<%=ui.clOffline%>');
			var i = <%=ui.iBorder%>;
			bs.borderBottom = (i==1||i==6||i==7?s:'');
			bs.borderTop = (i==2||i==6||i==7?s:'');
			bs.borderLeft = (i==3||i==5||i==7?s:'');
			bs.borderRight = (i==4||i==5||i==7?s:'');
		}
	});

	function alarm(id)
	{
		XHR.get(url + '/alarm/' + id, null, function(x,d){});
	}
//]]></script>

<form method="get" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
	<div class="cbi-map">
		<h2><a id="content" name="content"><%:Smart Socket%></a></h2>
	</div>
	<fieldset class="cbi-section" >
		<div class="cbi-section-node" >
			<table class="cbi-section-table" >
				<% for i, item in ipairs(data) do %>
					<%if ((i-1) % ui.iCol == 0) then%><tr class="cbi-section-table-row cbi-rowstyle-<%=i % 2 + 1%>" ><%end%>
					<td class="cbi-value" style="vertical-align:middle"><%=item.Description%></td>
					<%if (item.idSocket ~= "") then%>
					<td><input type="button" value="<%:Reboot%>" class="cbi-button cbi-button-reload" id="<%=item.TargetIP%>" onclick="alarm('<%=item.idSocket%>'); this.blur();" /></td>
					<%else%><td /><%end%>
					<%if (i % ui.iCol == 0) then %></tr><%else%><td style="border:none" /><%end%>
				<%end%>
			</table>
		</div>
	</fieldset>
</form>

<%+footer%>
