<%#
  Copyright 2016 MaiS_ES <mais_es@mail.ru>
  Based on commands.htm by Jo-Philipp Wich <jow@openwrt.org>
  Licensed to the public under the Apache License 2.0.
-%>

<%
local uci = require "luci.model.uci".cursor()
local mRes = resource..'/mRadio/'
local data = {}
local mpds = {}
local iCfg = (uci:get("mRadio", "Config", "iCfg") or 0)
local url = luci.dispatcher.build_url("admin", "network", "mRadio")
uci:foreach("mRadio", "Inputs", function(s)
	s.sid = s['.name']
	data[#data+1] = s
end)
uci:foreach("mRadio", "MPDs", function(s)
	s.host = s.host or 'localhost'
        mpds[#mpds+1] = s
	if (s.host == mpdsrv) then descr = s.descr end
end)
if (#mpds == 1) and not mpdsrv then
	luci.http.redirect(url..'/Dashboard/'..(mpds[1].host))
	return
end
%>
<%+header%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[

var url = '<%=url%>'
var isPlaying = {};
var isPause = {};
var cnt = 0;
var current = {};
var curStr = '';
var curIcon = '';

function upd(x,json)
{
<% if mpdsrv then %>
	mpdsrv = json.mpds['<%=mpdsrv%>'];
	isPlaying = (mpdsrv.state == '[playing]');
	isPause = (mpdsrv.state == '[paused]');
	draw_volume('<%=mpdsrv%>', mpdsrv.volume/5);
	
	tmr = mpdsrv.timerstr;
	cnt = mpdsrv.count;
	current = mpdsrv.current;

	document.getElementById("tmrstr").innerHTML = (tmr?tmr:'');
	document.getElementById("tmr").src = '<%=mRes%>tmr_'+(tmr?'on':'off')+'.png';
	document.getElementById("rdm").src = '<%=mRes%>rdm_'+(mpdsrv.rdm=='on'?'on':'off')+'.png';
	document.getElementById("rpt").src = '<%=mRes%>rpt_'+(mpdsrv.rpt=='on'?'on':'off')+'.png';
	curIcon = (isPlaying?'stop':(isPause?'pause':'play'));
	document.getElementById("curIcon").src = '<%=mRes%>'+curIcon+'.png';

	curStr = document.getElementById(current + '.name');
	curStr = (curStr?curStr.innerHTML:'') + (mpdsrv.title && (isPlaying|isPause)?': '+mpdsrv.title+' ':'');
	document.getElementById("curName").innerHTML = curStr;
	var Icons = document.querySelectorAll(".mRadio-icon");
	for (i = 0; i < Icons.length; i++) {
		Icons[i].src = '<%=mRes%>'+((Icons[i].id == current)?curIcon:'play')+'.png';
	}
<% else %>
	for (var host in json.mpds){
		isPlaying[host] = json.mpds[host].state == '[playing]';
		isPause[host] = json.mpds[host].state == '[paused]';
		current[host] = json.mpds[host].current;
		document.getElementById(host + '.name').innerHTML = json.mpds[host].name || '';
		document.getElementById(host + '.title').innerHTML = (isPlaying[host]|isPause[host]) && json.mpds[host].title || '';
		document.getElementById(host + '.icon').src = '<%=mRes%>'+(isPlaying[host]?'stop':(isPause[host]?'pause':'play'))+'.png';
		draw_volume(host, json.mpds[host].volume/5 || 0);
	}

<% end %>
	if (json.iCfg != <%=iCfg%>) {location.reload()}
}

XHR.poll(15, url + '/cmd/mpd/<%=mpdsrv%>', null, upd)

function cmd(args) {XHR.get(url +'/cmd/' + args, null, upd);}
function mpd_host(host,cmd) {XHR.get(url +'/cmd/mpd/' + host + '/' + cmd, null, upd);}
function mpd(cmd) {mpd_host('<%=mpdsrv%>',cmd);}
function timer(arg) {XHR.get(url +'/cmd/timer/<%=mpdsrv%>/' + arg, null, upd);}
function vol(mpdsrv,vol) {XHR.get(url +'/cmd/mpd/' + mpdsrv + '/volume/' + vol, null, upd);}

function draw_volume(mpdsrv,vol){
        s = '';
        for (i=1;i<=20;i++){ s = '<div onmouseup="vol(\''+mpdsrv+'\','+5*i+')" style="background-color:'+(i <= vol?'#66a6d6':'#cccccc')+
				';height:'+(4+i)+'px;margin-top:'+(25-i)+'px;" class="volumebar"></div>' + s; }
        document.getElementById(mpdsrv+'.vol').innerHTML = s;
}

//]]></script>
<link rel="stylesheet" type="text/css" href="<%=mRes%>mRadio.css" />

<form method="get" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
<% if mpdsrv then %>
	<fieldset class="cbi-section" id="cbi-system-system">
		<legend><h2><%=descr%></h2></legend>
		<table>
			<tr class="cbi-section-table-row cbi-rowstyle-1">
			<td class="icon"><img src="<%=mRes%>prev.png" mIcon id="prev" onclick="mpd('prev')"/></td>
			<td class="icon"><img src="<%=mRes%>play.png" mIcon id="curIcon" onclick="if (current) {mpd(isPlaying?'stop':'play/'+current)}" oncontextmenu="mpd('pause');return false;"/></td> 
			<td class="icon"><img src="<%=mRes%>next.png" mIcon id="next" onclick="mpd('next')"/></td>
			<td class="name"><legend class="title" id="curName" /></td>
			<td class="timer"><legend class="name" id="tmrstr"></lenend></td>
			<td class="icon"><img src="<%=mRes%>tmr_off.png" mIcon onclick="timer('+')" oncontextmenu="timer('X');return false;" id="tmr"/></td>
			<td class="icon"><img src="<%=mRes%>rdm_off.png" mIcon onclick="mpd('random')" id="rdm"/></td>
			<td class="icon"><img src="<%=mRes%>rpt_off.png" mIcon onclick="mpd('repeat')" id="rpt"/></td>
			<td class="vol-box"><div class="mRadio-volume" id="<%=mpdsrv%>.vol" /></td>
			</tr>
			<tr><td colspan="9"/></tr>
		</table>
	</fieldset>
	<fieldset class="cbi-section" id="cbi-system-system">
	<legend><%:Station List%></legend>
	</fieldset>
	<table class="cbi-section-table" >
	<% for i, item in ipairs(data) do %>
		<tr class="cbi-section-table-row cbi-rowstyle-<%=i%2+1%>" >
		<td class="icon"><img src="<%=mRes%>play.png" id="<%=item.sid%>" mIcon class="mRadio-icon" onclick="mpd(isPlaying && (current == '<%=item.sid%>')?'stop':'play/<%=item.sid%>')" /></td>
		<td class="mRadio-input" style="vertical-align:middle" id="<%=item.sid%>.name"><%=item.iName%></td>
		</tr>
	<%end%>
	</table>
<%else%>
        <fieldset class="cbi-section" id="cbi-system-system">
                <table>
                <%for i=1,#mpds,2 do%>
                        <tr>
                        <%for j=0,1 do%>
                        <td rowspan=2 class="room">
                                <%if mpds[i+j] then%>
                                <%host = mpds[i+j].host or 'localhost'%>
                                <div class="room-box">
                                        <div><a <% if mpds[i+j].enable then %>href=<%=url..'/Dashboard/'..host%><% end %>><img src="<%=mRes .. mpds[i+j].icon%>.png"/></a></div>
                                        <div><%=mpds[i+j].descr%></div>
                                </div></td>
                                <td class="icon"><img src="<%=mRes%>def.png" style="float:left" id="<%=host%>.icon" onclick="mpd_host('<%=host%>',isPlaying['<%=host%>']?'stop':'play/'+current['<%=host%>'])" oncontextmenu="mpd_host('<%=host%>','pause');return false;"></img></td>
                                <td class="name"><legend class="title" id="<%=host%>.name"></legend></td>
                                <td class="vol-box"><div class="mRadio-volume" id="<%=host%>.vol"></div></td>
                                <%if j==0 then%> <td style="border:none;width:1px" rowspan=2> <%end%>
                                <%else%>
                                </td>
                                <td ></td>
                                <td class="name"></td>
                                <td class="vol-box"></td>
                                <%end%>
                        <%end%>
                        </tr>
                        <tr>
			<%for j=0,1 do%>
                        <td colspan="3" class="track"><legend class="title" id="<%=(mpds[i+j] or {}).host%>.title"></legend></td>
			<%end%>
                        </tr>
                <%end%>
                </table>
        </fieldset>
	<script type="text/javascript">
	<%for i=1,#mpds do%>
		draw_volume('<%=mpds[i].host%>', 0);
	<%end%>
	</script>
<%end%>
</form>

<%+footer%>
