.room{
	padding:8px;
	width:1px;
	cursor: pointer;
}

.room-box{
	border:1px;
	border-style:solid;
	border-color:#CCCCCC;
	text-align:center;
	white-space:nowrap;
	border-radius:4px;
	padding:2px 10px;
	display: inline-block;
}

.icon{
	vertical-align:middle;
	height:46px;
	width:1px;
	padding:0px 5px;
	cursor: pointer;
}

.name{
	vertical-align:middle;
	padding:0px 5px;
}

.timer{
	vertical-align:middle;
	width:1px;
	padding:0px 5px;
}


.title{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:0;
	min-width:100%;
	padding:2px 5px;
}

.track{
	padding:12px 5px
}
.vol-box{
	width:82px;
	padding:5px"
}

.vol-box2{
	width:208px;
	padding:5px"
}

.volumebar{
	margin-left: 1px;
	float:right;
	width:3px;
}

.volumebar2{
	margin-left: 3px;
	float:right;
	width:7px;
}

.volumebar:hover, .volumebar2:hover{
	background-color:#888888 !important;
}

img[mIcon]{
	float:left;
}

